/* universal selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Adds background color to body element*/
body {
    background-color: #d9dcd6;
}

/* Adds padding, font, and colors to header element*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Adds font size and makes headers inline*/
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Sets the letter SEO to different color*/
header h1 .seo {
    color: #d9dcd6;
}

/* Adds padding, margin, font, and font sizes to the nav and set them to the right*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* takes out the bullitin point on the nav*/
header nav ul {
    list-style-type: none;
}

/* makes nav inline spaced apart*/
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* makes links different color*/
a {
    color: #ffffff;
    text-decoration: none;
}

/* makes the P element text 16px*/
p {
    font-size: 16px;
}

/* adds image in the middle*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* makes an image float left*/
.float-left {
    float: left;
    margin-right: 25px;
}

/* makes an image float right*/
.float-right {
    float: right;
    margin-left: 25px;
}

/* makes the content class inline and spaced apart*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* makes the benefits class padded, floating to the right, different font, and different background color*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* makes benefit class different color and space on the bottom*/
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* makes the div  different font, color and padded*/
#search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* makes the div  different font, color and padded*/
#online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* makes the div  different font, color and padded*/
#social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* caps out img at 200px*/
#search-engine-optimization img {
    max-height: 200px;
}

/* caps out img at 200px*/
#online-reputation-management img {
    max-height: 200px;
}

/* caps out img at 200px*/
#social-media-marketing img {
    max-height: 200px;
}

/* makes h2 bigger*/
#search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* makes h2 bigger*/
#online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* makes h2 bigger*/
#social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* makes footer have different text padding and align text in center*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* makes footer h2 font 20px*/
footer h2 {
    font-size: 20px;
}